extends ../index
block left
  div
    p Bacon ipsum dolor amet fatback sirloin leberkas ham hock pork pork belly andouille cow short loin doner. Frankfurter shank ground round tri-tip jerky tenderloin prosciutto cupim porchetta. Fatback tongue corned beef chicken meatball kevin, doner salami rump landjaeger spare ribs pastrami frankfurter drumstick pork chop. T-bone kevin frankfurter, ground round beef andouille short ribs drumstick beef ribs bacon meatloaf biltong.
    p Chuck pancetta jowl ball tip. Short loin t-bone sausage tongue. Ground round pancetta shankle pig, kielbasa sausage meatloaf hamburger brisket porchetta leberkas ribeye venison ball tip drumstick. Chuck pork loin picanha, pork biltong capicola meatloaf filet mignon rump pig tri-tip ground round. Meatball beef ribs pork, shank rump ribeye shoulder hamburger andouille porchetta.
  h3 Movie Reference Links
  ul
    li
      a#a(href='imdb.com', title='IMDb')  
        img=('/assets/imdb.jpg')
  script(src=isProd ? '/index.min.js' : '/index.js')

block right
