extends ../index
block info
  h1 Oldboy
  div
    p Bacon ipsum dolor amet chuck cupim kevin, bacon landjaeger flank jerky turkey beef ribs. Drumstick pancetta boudin capicola pork chop, turducken t-bone porchetta meatloaf doner landjaeger tail chuck. Meatball kevin boudin porchetta short ribs capicola. Ribeye drumstick shank meatball t-bone, venison rump doner turkey.
    p Beef ribeye pastrami jerky fatback venison sausage bresaola spare ribs. T-bone porchetta drumstick chicken kevin beef ribs tongue short loin shankle boudin ground round pancetta beef shoulder. Turkey venison shoulder alcatra chuck sausage, sirloin hamburger. Cow beef t-bone cupim pastrami pancetta rump biltong porchetta. Ball tip capicola ham pancetta tenderloin jowl ham hock picanha t-bone fatback doner kevin. Cupim pork loin turkey, rump ribeye picanha shankle cow. Meatball ham hock biltong capicola short loin, jowl tri-tip turkey hamburger pork chop salami.
block poster
  .poster
    img#ob(src='/assets/obposter.jpg') 
